### SERVER CONFIGURATION ###

NODE_ENV=development
PORT=3000

# This should be set to either the frontend hostname or "*"
ACCESS_CONTROL_ALLOW_ORIGIN=http://localhost:5000


### FRONTEND CONFIGURATION ###

# This file only affects the frontend during development with docker-compose
# See the frontend's repository for how to independently develop/build/deploy it

FRONTEND_DEVSERVER_PORT=5000
API_ROOT=http://localhost:3000/api
AUTH0_DOMAIN=not.a.real.domain
AUTH0_CLIENT_ID=not-a-real-client-id
AUTH0_BACKEND_API_IDENTIFIER=http://localhost:3000
